# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = thxi
	email = thxixl@protonmail.com
[color]
	ui = true
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

# [branch]
# 	autosetuprebase = always

# [url "git@github.com:"]
# 	insteadOf = https://github.com/
