# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = thxi
	email = thxixl@protonmail.com
[color]
	ui = true
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgg = log --color --graph --pretty=oneline --all --abbrev-commit

# [branch]
# 	autosetuprebase = always

# [url "git@github.com:"]
# 	insteadOf = https://github.com/
